In [3]:
import pandas as pd
movie_info = pd.read_csv("Movie Interests.csv")

In [4]:
movie_info

    Age  Gender   Interest
0     8       1  Animation
1    11       1  Animation
2    12       1  Animation
3    16       1     Action
4    18       1     Action
5    19       1     Action
6    23       1      Drama
7    26       1      Drama
8    27       1      Drama
9     7       0  Animation
10    9       0  Animation
11   10       0  Animation
12   26       0     Action
13   27       0     Action
14   30       0     Action
15   31       0      Drama
16   34       0      Drama
17   35       0      Drama

In [5]:
input_dataset = movie_info.drop(columns = ["Interest"])

In [6]:
input_dataset

    Age  Gender
0     8       1
1    11       1
2    12       1
3    16       1
4    18       1
5    19       1
6    23       1
7    26       1
8    27       1
9     7       0
10    9       0
11   10       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [7]:
output_dataset = movie_info["Interest"]

In [8]:
output_dataset

0     Animation
1     Animation
2     Animation
3        Action
4        Action
5        Action
6         Drama
7         Drama
8         Drama
9     Animation
10    Animation
11    Animation
12       Action
13       Action
14       Action
15        Drama
16        Drama
17        Drama
Name: Interest, dtype: object

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [2]:
from sklearn.tree import DecisionTreeClassifier

# Define input and output data
input_dataset = [[25, 1], [30, 0], [45, 1], [35, 0]]  # Example features: [age, likes_action_movies]
output_dataset = ['Yes', 'No', 'Yes', 'No']          # Example labels: interested or not

# Train the model
movie_model = DecisionTreeClassifier()
movie_model.fit(input_dataset, output_dataset)

# Make predictions
movie_interest = movie_model.predict([[9, 1], [33, 0]])
print(movie_interest)

['Yes' 'No']

In [3]:
movie_interest

array(['Yes', 'No'], dtype='<U3')

In [5]:
import pickle
from pprint import pprint  # Add this if you still want to use pprint

# Load the model
model1 = pickle.load(open('movie_model.pkl', 'rb'))

# Predict
pprint(model1.predict([[9, 1], [33, 0]]))

array(['Yes', 'No'], dtype='<U3')